body{
    font-family: 'Roboto', sans-serif;
}
.icon{
    height: 100px;
}
ul li{
    display: inline;
    padding: 12px 20px;
    float: right;
}
section{
    height: 600px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 25px;
}
p{
    color: dimgray;
    font-size: 25px;
}
#name-color{
    color: orange;
}
.half-width{
    
    width: 40%;
    height:100%;
    float: left;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 80deg, lightsalmon, red);
    padding: 25px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
}
.onethird-width{ 
    width: 25%;
    height:70%
    border: 1px solid red;
    float: left;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 25px;
}

.onethird-width img{
    width: 100%;
}
#a{
    color: orange;
    font-size: 35px;
    font-weight: 800;
}
#b{
    color: palegreen;
    font-size: 35px;
    font-weight: 800;
}
#c{
    color:blue;
    font-size: 35px;
    font-weight: 800;
}
